# dependencies
/node_modules

# testing
/coverage

# build output
/.svelte-kit
/build
/*_CV.pdf

# misc
.DS_Store
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*